extends ./layout.jade
block content
	section(class="section_box")
		div(class="content_wrap")
			div
				p  Janus Blog is a blog CMS developed using Jade & Node.js.
				| It is designed with Stylus and Jeet and some other tools like Rupture and Nib.
