extends ./layout.jade
block content
  div(class="cover_wrap")
    figure
      img(src="/images/material_cover.jpg" alt="Material Cover" class="cover_img" width="800px" )
  ul
    each post in blogs 
      li
        h3(class="post_title_container")
          a(class="post_title" href="/blog/#{post.id}")= post.title
        em(class="post_category")= post.category
        br
        p(class="post_content")= post.content
        br
        br
