extends ./layout.jade
block content
  ul
    each post in blogs 
      li
        h3(class="post_title_container")
          a(class="post_title" href="/blog/#{post.id}")= post.title
        em(class="post_category")= post.category
        br
        p(class="post_content")= post.content
        br
        br
