div(class="footer")
	div(class="social_wrap")
		span(class="icon-twitter")
		span(class="icon-mail")
		span(class="icon-github-circled")
	h4 cc attribute janus blog		
	img(src="/images/cc.svg" class="cc_logo")
	
