header
	img(class="logo" src="/images/j.png")
	h1(class="global_head") Janus Blog Projekt
	nav(class="navigation")
		ul
			li(class="list_items itme_one")
				a(href="/blog/new") New
			li(class="list_items itme_two") Home
			li(class="list_items itme_three") About