@import 'jeet'
@import 'nib'

mobile = 481px

// edit()
global-reset()

body
  center(800px)

.cat
  col(1/3)
  +below(600px)
    col(.5/1)
    shift(1/1)
.cont
  col(1/3)
  +below(600px)
    col(.25/1)
.test
  col(1/3)
  +below(600px)
    col(.25/1)
