@import 'jeet'
@import 'nib'

mobile = 600px

// edit()
global-reset()
main_color = #BEE0EE


body
  center(800px)
  background(main_color)
  font-family Helvetica, Arial, sans-serif
  +below(600px)
  	background red

ul
	// font-family Helvetica, Arial, sans-serif

header
	padding 2rem 0

h1.global_head
	font 3rem Helvetica, sans-serif
	// padding 6rem 3rem
	text-align right
	display inline-block
	width 80%
	float right
	color #B56464

a
	text-decoration none
	
a.post_title
	font-size 1.2rem
	letter-spacing .2rem
	transition .4s all
	color #A0BAC5
	// text-shadow 1px 1px 4px #5C5D5E
	&:hover
		color #353535
		font-size 1.3rem

	
em.post_category
	font-size 1rem
	font-style italic
	text-transform lowercase
	text-decoration underline
    
    
p.post_content
	font-size 1rem
	padding-top 1.5rem
	color #5E5E5E
	
h3.post_title_container
	padding 3rem 0rem	 

div.footer
	border-top .2rem solid #fff
	padding 3rem 0
	color #B56464
	font-weight 900
	
h4
	float right		

.logo
	height 80px
	display inline-block
	max-width 20%
nav
	float right

li
	display inline
	padding-left 2rem
	
li
	a
		color #B56464
		letter-spacing 1px