@import 'jeet'
@import 'nib'

mobile = 600px

// edit()
global-reset()



body
  center(800px)
  background(#BEE0EE)
  font-family Helvetica, Arial, sans-serif
  +below(600px)
  	background red

ul
	// font-family Helvetica, Arial, sans-serif

header
	padding 2rem 0

h1.global_head
	font 3rem Helvetica, sans-serif
	// padding 6rem 3rem
	text-align right
	display inline-block
	width 80%
	float right

a
	text-decoration none
	
a.post_title
	font-size 1.2rem
	letter-spacing .2rem
	transition .4s all
	&:hover
		color red
		font-size 1.3rem

	
em.post_category
	font-size 1rem
	font-style italic
	text-transform lowercase

p.post_content
	font-size 1rem
	padding-top 1.5rem
	color #5E5E5E
	
h3.post_title_container
	padding 3rem 0rem	 

div.footer
	border-top .2rem solid #fff
	
.footer
	padding 3rem 0
	
h4
	float right		

.logo
	height 80px
	display inline-block
	max-width 20%
nav
	float right

li
	display inline
	padding-left 2rem